/* leftBanner.css */
.left-banner {
    background-color: #61dafb;
    padding-top: 70px;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.relat {
    position: fixed;
    top: 100px;
    /* Adjust this value to position it below the navbar */
    z-index: 1;
}

.left-pic {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 60px;
    margin-left: 10%;
}

.iconopt {
    list-style: none;
}

.iconopt li {
    padding-bottom: 3rem;
    padding-left: 20%;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

@media (max-width: 1235px) {
    .left-pic {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width : 1024px) {
    .left-pic {
        width: 70px;
        height: 70px;
    }
}
