/* Personal.css */
.left-container {
    display: flex;
    width: 100%;
}

.sm-profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.box {
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    padding-top: 6%;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 3%;
}

.title {
    color: #61dafb;
    width: 56%;
    text-align: left;
    margin-left: 30%;
}

.para {
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 850px) {
    .left-container {
        flex-direction: column;
    }

    .title {
        width: 100%;
        margin-left: 6rem;
    }
}

@media (max-width:555px) {
    .left-container{
        height: 100vh;
    }
    
}
@media screen and (max-width : 436px) {
    .title {
        margin-left: 4rem;
    }
}

@media screen and (max-width : 325px) {
    .title {
        margin-left: 2rem;
    }
}