.skill-container {
    display: flex;
    width: 100%;
}

.ex {
    flex-grow: 1;
}

.coding {
    margin-top: 3%;
    text-align: center;
}

.coding h2 {
    color: #61dafb;
}

.sk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 5%;

}

.sk3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: disc;
    margin-top: 5%;
    margin: 1% 5%;
}

.sk4 {
    text-align: left;
    padding-left: 15%;
    font-size: 20px;
}

.sk4 li {
    line-height: 40px;

}

.sk2 {
    list-style: none;
}

.name {
    flex-direction: row;
    align-items: center;
    color: #619cfb;
    text-align: left;
    margin: 0 8%;
}

.desc {
    margin: 0 8%;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
}

.sk li {
    display: flex;
    margin: 0 10px;
    width: 20%;
    height: 70px;
    align-items: center;
    text-align: left;
}

.sk3 li {
    display: flex;
    width: 40%;
    height: 50px;
    align-items: center;
    text-align: left;
}

.log {
    padding-right: 15%;
    height: 45px;
    width: 45px;
}

@media screen and (max-width : 426px) {
    .sk {
        padding: 0;
        margin: 0;
        width: 90%;
    }

    .desc {
        font-size: 14px;
    }

    .sk4 {
        font-size: 16px;
    }

    .log {
        height: 35px;
        width: 35px;
    }
    .sk3 li {
        padding: 0.5%;
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width : 321px) {
    .sk4 {
        font-size: 14px;
    }

    .sk {
        padding: 0;
        margin: 0;
        width: 90%;
    }
    .sk3 li {
        padding: 1%;
        width: 100%;
        font-size: 16px;
    }
}